{%raw%}
	<script type="text/template" id="breadcrumbs">
		<ul class="breadcrumbs">
			<%_.each(data.items, function(item){%>
				<li><a class="js-route" href="#dir/<%=item.id%>"><%=item.title%></a></li>
				<li><p class='divider'>/</p></li>
			<%});%>
			<li><p><%=data.cur_dir_title%></p></li>
		</ul>
	</script>
{%endraw%}