{%raw%}	
	<script type="text/template" id="cpanel">		
		<div class="control-panel">
			<ul class="controls">
				<li>
					<ul class="control-group">
						<li><a href="#">Добавить раздел</a></li>
						<li><a href="#">Добавить запись</a></li>
					</ul>
				</li>
				<li>
					<ul class="control-group">
						<li><a href="#">Изменить заголовок</a></li>
						<li><a href="#">Изменить запись</a></li>
					</ul>
				</li>
				<li>
					<ul class="control-group">
						<li><a href="#">Копировать</a></li>
						<li><a href="#">Вырезать</a></li>
						<li><a href="#">Вставить</a></li>
						<li><a href="#">Удалить</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</script>
{%endraw%}