{%raw%}	
	<script type="text/template" id="cpanel">		
		<div class="control-panel">
			<ul class="controls">
				<li>
					<div class="wrap">
						<a class="cp-add-dir js-route" href="#<%if(model.cur_dir_id){%>dir/<%=model.cur_dir_id%>/<%}%>add_dir" title="Добавить раздел"></a>
					</div>
				</li>
				<li>
					<div class="wrap">
						<a class="cp-add-note js-route" href="#<%if(model.cur_dir_id){%>dir/<%=model.cur_dir_id%>/<%}%>add_note" title="Добавить запись"></a>
					</div>
				</li>
				<li><div class="wrap"><a class="cp-edit js-route" href="#" title="Изменить"></a></div></li>
				<li><div class="wrap"><a class="cp-copy" href="#" title="Копировать"></a></div></li>
				<li><div class="wrap"><a class="cp-cut" href="#" title="Вырезать"></a></div></li>
				<li><div class="wrap"><a class="cp-paste" href="#" title="Вставить"></a></div></li>
				<li><div class="wrap"><a class="cp-delete" href="#" title="Удалить"></a></div></li>
			</ul>
		</div>
	</script>
{%endraw%}