{%raw%}
	<script type="text/template" id="nav_list">
		<ul class="nav-list js-sortable">
			<%_.each(elements, function(element){%>
				
				<li class="<%=element.type%>" data-id="<%=element.id%>">
					<div class="drag tmb"><div class="thumb"></div></div>
					<div class="ico tmb"><div class="thumb"></div></div>
					<%if(element.type == 'dir') {%>
						<a href="#dir/<%=element.id%>">
					<%} else {%>
						<a href="#dir/<%=cur_dir_id%>/note/<%=element.id%>">
					<%}%>
						<%=element.title%>
					</a>
					<div class="check-box"></a>				
				</li>

			<%}); %>
		</ul>
	</script>
{%endraw%}