{%raw%}
	<script type="text/template" id="nav_list">
		<ul class="nav-list js-sortable">
			<%_.each(elements, function(element){%>
				
				<li class="<%=element.type%>" data-id="<%=element.entity.get('id')%>">
					<div class="drag tmb"><div class="thumb"></div></div>
					<div class="ico tmb"><div class="thumb"></div></div>
					<%if(element.type == 'dir') {%>
						<a class="js-route" href="#dir/<%=element.entity.get('id')%>">
					<%} else {%>
						<a class="js-route" href="#dir/<%=element.entity.get('pid')%>/note/<%=element.entity.get('id')%>">
					<%}%>
						<%=element.entity.get('title')%>
					</a>
					<div class="check-box<%if(element.selected){%> active<%}%>"></a>				
				</li>

			<%}); %>
		</ul>
	</script>
{%endraw%}