body {
	background: #373737 url("../img/bg.png") 0 0 repeat;
	font-family: Verdana, Arial, sans-serif;
}

#main {
	width: 100%;
	padding-bottom: 80px;

	.wrapper {
		font-size: 0;
		min-height: 900px;
		min-width: 1000px;
		background-color: #f4f4f4;
		margin: 10px;

		.left {
			width: 25%;
			min-width: 250px;
			font-size: 10pt;
			.inline-block;
		}

		.right {
			width: 75%;
			min-width: 750px;
			font-size: 10pt;
			vertical-align: top;

			.inline-block;

			.note-content {
				
			}
		}
	}
}
