html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
#header {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/

  font-size: 14px;
  font-weight: 300;
  color: #404040;
  background: #373737 url("../img/bg.png") 0 0 repeat;
}
#header .container {
  text-align: center;
}
#header .container .nav {
  height: 48px;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
#header .container .nav li {
  position: relative;
  margin: 0 0 4px;
  height: 44px;
  color: #ccc;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
  border: 1px solid #232428;
  border-right: 0;
  border-bottom-color: #1f2326;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.08)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
#header .container .nav li:active {
  /*margin-top: 4px;*/

  height: 43px;
  color: #aaa;
  text-shadow: 0 1px black;
  background-color: rgba(255, 255, 255, 0.03);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
}
#header .container .nav li a {
  display: block;
  line-height: 44px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  outline: none;
}
#header .container .nav li a.nav-icon {
  padding: 0 15px;
}
#header .container .nav li a:hover {
  background-color: rgba(255, 255, 255, 0);
}
#header .container .nav li:first-child {
  border-left-width: 1px;
  border-left-color: #212425;
  border-radius: 5px 0 0 5px;
}
#header .container .nav li:last-child {
  border-right-width: 1px;
  border-right-color: #212425;
  border-radius: 0 5px 5px 0;
}
#header .container .nav li:hover {
  color: #b0d157;
  text-shadow: 0 1px #000000, 0 0 20px rgba(255, 255, 255, 0.5);
}
#header .container .nav li .icon-home {
  background-position: 0 0;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background-image: url("/img/icon_home.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-R.ttf);
}
html,
body {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
  height: 100%;
}
#main {
  width: 100%;
  padding-bottom: 80px;
  background: #373737 url("../img/bg.png") 0 0 repeat;
}
#main .wrapper {
  font-size: 0;
  min-height: 900px;
  min-width: 1000px;
  background-color: #f4f4f4;
}
#main .wrapper .left {
  width: 25%;
  min-width: 250px;
  font-size: 10pt;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
#main .wrapper .right {
  width: 75%;
  min-width: 750px;
  font-size: 10pt;
  vertical-align: top;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.dark_inputs input {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.dark_inputs input:-webkit-autofill {
  background: rgba(0, 0, 0, 0.16) !important;
  color: #bbb !important;
}
.dark_inputs input:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
.dark_form {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/

  font-size: 15px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.dark_form p {
  margin: 0 0 10px;
}
.dark_form p input,
.dark_form p button,
.dark_form p label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dark_form p input {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.dark_form p input:-webkit-autofill {
  background: rgba(0, 0, 0, 0.16) !important;
  color: #bbb !important;
}
.dark_form p input:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
.dark_form p label {
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: right;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.login {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/

  font-size: 15px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  position: relative;
  margin: 160px auto;
  width: 405px;
  padding-right: 32px;
}
.login p {
  margin: 0 0 10px;
}
.login p input,
.login p button,
.login p label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login p input {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.login p input:-webkit-autofill {
  background: rgba(0, 0, 0, 0.16) !important;
  color: #bbb !important;
}
.login p input:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
.login p label {
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: right;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.login .forgot-password {
  padding-left: 104px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}
.login .forgot-password a {
  color: #00A1D2;
  text-decoration: none;
}
.login .login-submit,
.login .login-submit:before,
.login .login-submit:after {
  background: #373737 url("../img/bg.png") 0 0 repeat;
}
.login .login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login .login-submit:before,
.login .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login .login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login .login-submit:after {
  top: -4px;
  right: -4px;
  bottom: -4px;
  width: 36px;
}
.login .login-submit .login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */

  cursor: pointer;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */

  /* clips the background incorrectly inside elements with a border-radius.     */

}
.login .login-submit .login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 24px;
  background-color: #00a2d3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a2d3), color-stop(100%, #0d7796));
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -ms-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(top, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}
.login .login-submit .login-button:active:before {
  background-color: #0591ba;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0591ba), color-stop(100%, #00a2d3));
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -ms-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(top, #0591ba, #00a2d3);
}
.login .login-submit .login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("/img/arrow2.png") 0 0 no-repeat;
}
.profile_form_wrapper {
  text-align: center;
  background: #373737 url("../img/bg.png") 0 0 repeat;
  padding-bottom: 300px;
}
.profile_form_wrapper .form-horizontal {
  display: inline-block;
  width: 625px;
  text-align: left;
  padding-top: 25px;
  padding-left: 35px;
}
.profile_form_wrapper .form-horizontal .title-block {
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  padding-top: 40px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  margin-left: -35px;
}
.profile_form_wrapper .form-horizontal .control-group {
  padding-top: 20px;
}
.profile_form_wrapper .form-horizontal .control-group .control-label {
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  width: 150px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.profile_form_wrapper .form-horizontal .control-group .help-block {
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  padding-left: 165px;
  padding-top: 5px;
  font-size: 95%;
}
.profile_form_wrapper .form-horizontal .control-group input {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.profile_form_wrapper .form-horizontal .control-group input:-webkit-autofill {
  background: rgba(0, 0, 0, 0.16) !important;
  color: #bbb !important;
}
.profile_form_wrapper .form-horizontal .control-group input:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
.profile_form_wrapper .form-horizontal .form-actions {
  padding-left: 163px;
  padding-top: 20px;
}
.search-bar {
  font-size: 0pt;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 #ffffff, 0 0 0;
  -moz-box-shadow: 0 1px 0 #ffffff, 0 0 0;
  box-shadow: 0 1px 0 #ffffff, 0 0 0;
}
.search-bar .search-field {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
  font-size: 11pt;
  border-radius: 5px 0 0 5px;
  background: url("../img/search-icon.png") 5px 4px no-repeat;
  border: 1px solid #959595;
  border-right: none;
  margin: 0;
  padding: 8px 3px 8px 33px;
  width: 165px;
  outline: 0;
  height: 17px;
  line-height: 1.2;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0;
}
.search-bar .search-button {
  font-size: 11pt;
  border-radius: 0 5px 5px 0;
  border: 1px solid #6ca2ba;
  color: #31637a;
  cursor: pointer;
  margin: 0;
  padding: 8px;
  text-shadow: 0 1px 0 #dfedf4;
  text-decoration: none;
  height: 17px;
  vertical-align: top;
  outline: none;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

  -webkit-box-shadow: inset 0 1px 0 #dfedf4, 0 0 0;
  -moz-box-shadow: inset 0 1px 0 #dfedf4, 0 0 0;
  box-shadow: inset 0 1px 0 #dfedf4, 0 0 0;
  background-color: #b9d5e2;
  background-image: -moz-linear-gradient(top, #c1dce9, #aecad8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c1dce9), to(#aecad8));
  background-image: -webkit-linear-gradient(top, #c1dce9, #aecad8);
  background-image: -o-linear-gradient(top, #c1dce9, #aecad8);
  background-image: linear-gradient(to bottom, #c1dce9, #aecad8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc1dce9', endColorstr='#ffaecad8', GradientType=0);
}
.search-bar .search-button:hover {
  background-color: #c4dbe6;
  background-image: -moz-linear-gradient(top, #cae1ec, #bbd3de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cae1ec), to(#bbd3de));
  background-image: -webkit-linear-gradient(top, #cae1ec, #bbd3de);
  background-image: -o-linear-gradient(top, #cae1ec, #bbd3de);
  background-image: linear-gradient(to bottom, #cae1ec, #bbd3de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcae1ec', endColorstr='#ffbbd3de', GradientType=0);
}
.search-bar .search-button:active {
  background-color: #c1d9e4;
  background-image: -moz-linear-gradient(top, #bbd3de, #cae1ec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bbd3de), to(#cae1ec));
  background-image: -webkit-linear-gradient(top, #bbd3de, #cae1ec);
  background-image: -o-linear-gradient(top, #bbd3de, #cae1ec);
  background-image: linear-gradient(to bottom, #bbd3de, #cae1ec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbd3de', endColorstr='#ffcae1ec', GradientType=0);
}
.txt {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
  background-color: white;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
}
.registration li {
  position: relative;
  padding: 2px 0;
}
.registration li label {
  width: 90px;
  color: black;
  font-size: 11pt;
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.registration li input.txt {
  width: 200px;
  vertical-align: top;
  margin: 0;
  height: 35px;
  font-size: 11pt;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.registration li input.error {
  border-color: red;
}
.registration li.ctrl-block {
  padding-top: 15px;
}
.registration li .alert {
  position: absolute;
  top: 14px;
  left: 670px;
  color: red;
  font-size: 10pt;
  padding-right: 10px;
  text-align: left;
}
.nav-list {
  background-color: white;
  padding: 0;
}
.nav-list .dir,
.nav-list .note,
.nav-list .ui-state-highlight {
  height: 40px;
  position: relative;
  list-style: none;
  border: 1px solid #cfd0d2;
  border-top: 1px solid #e5e5e5;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #ededed, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #ededed, #f9f9f9);
  background-image: -o-linear-gradient(top, #ededed, #f9f9f9);
  background-image: linear-gradient(to bottom, #ededed, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 0 0;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 0 0;
  box-shadow: inset 0 1px 0 #ffffff, 0 0 0;
}
.nav-list .dir:hover,
.nav-list .note:hover,
.nav-list .ui-state-highlight:hover {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f5f5f5, #fcfcfc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fcfcfc));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #fcfcfc);
  background-image: -o-linear-gradient(top, #f5f5f5, #fcfcfc);
  background-image: linear-gradient(to bottom, #f5f5f5, #fcfcfc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffcfcfc', GradientType=0);
}
.nav-list .dir .tmb,
.nav-list .note .tmb,
.nav-list .ui-state-highlight .tmb {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid #cfd0d2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e6e5e5;
  background-image: -moz-linear-gradient(top, #eaeaea, #dfdede);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#dfdede));
  background-image: -webkit-linear-gradient(top, #eaeaea, #dfdede);
  background-image: -o-linear-gradient(top, #eaeaea, #dfdede);
  background-image: linear-gradient(to bottom, #eaeaea, #dfdede);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeaea', endColorstr='#ffdfdede', GradientType=0);
  /*.box-shadow(inset 0 1px 0 white);*/

}
.nav-list .dir .tmb.drag,
.nav-list .note .tmb.drag,
.nav-list .ui-state-highlight .tmb.drag {
  cursor: move;
  left: 0;
}
.nav-list .dir .tmb.drag .thumb,
.nav-list .note .tmb.drag .thumb,
.nav-list .ui-state-highlight .tmb.drag .thumb {
  background-image: url(../img/drag.png);
  background-repeat: no-repeat;
  background-position: 11px 11px;
  width: 100%;
  height: 100%;
}
.nav-list .dir .tmb.ico,
.nav-list .note .tmb.ico,
.nav-list .ui-state-highlight .tmb.ico {
  left: 40px;
  -webkit-box-shadow: 1px 0 0 #ffffff, 0 0 0;
  -moz-box-shadow: 1px 0 0 #ffffff, 0 0 0;
  box-shadow: 1px 0 0 #ffffff, 0 0 0;
}
.nav-list .dir .tmb.ico .thumb,
.nav-list .note .tmb.ico .thumb,
.nav-list .ui-state-highlight .tmb.ico .thumb {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.nav-list .dir .check-box,
.nav-list .note .check-box,
.nav-list .ui-state-highlight .check-box {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 8px;
  right: 7px;
  background-image: url(../img/checkbox.png);
}
.nav-list .dir .check-box:hover,
.nav-list .note .check-box:hover,
.nav-list .ui-state-highlight .check-box:hover {
  background-position: 0 -26px;
}
.nav-list .dir .check-box:active,
.nav-list .note .check-box:active,
.nav-list .ui-state-highlight .check-box:active,
.nav-list .dir .check-box.active,
.nav-list .note .check-box.active,
.nav-list .ui-state-highlight .check-box.active {
  background-position: 0 -52px;
}
.nav-list .dir a,
.nav-list .note a,
.nav-list .ui-state-highlight a {
  margin: 0 40px 0 72px;
  padding: 0 0 0 20px;
  vertical-align: top;
  color: #476e7d;
  text-decoration: none;
  height: 100%;
  display: block;
  line-height: 2.5;
  text-shadow: 0 1px 0 white;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  font-size: 11pt;
}
.nav-list .dir .thumb {
  background-image: url(../img/mini_dir.png);
  background-position: 8px 11px;
}
.nav-list .note .thumb {
  background-image: url(../img/mini_note.png);
  background-position: 8px 11px;
}
.breadcrumbs {
  padding: 0 15px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #cfd0d2;
  background-image: linear-gradient(bottom, #ededed 25%, #f4f4f4 63%);
  background-image: -o-linear-gradient(bottom, #ededed 25%, #f4f4f4 63%);
  background-image: -moz-linear-gradient(bottom, #ededed 25%, #f4f4f4 63%);
  background-image: -webkit-linear-gradient(bottom, #ededed 25%, #f4f4f4 63%);
  background-image: -ms-linear-gradient(bottom, #ededed 25%, #f4f4f4 63%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #ededed), color-stop(0.63, #f4f4f4));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px #ffffff;
  -webkit-box-shadow: inset 0 1px #ffffff;
}
.breadcrumbs li {
  display: inline-block;
  font-size: 10pt;
  color: #333;
  padding: 5px 0;
}
.breadcrumbs li a {
  text-decoration: none;
  color: #0e90d2;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.breadcrumbs li .divider {
  padding: 0 5px;
}
.control-panel {
  height: 60px;
  font-size: 10pt;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
}
.control-panel .cp-wrapper {
  background: url(../img/bg_control_panel.png);
  position: relative;
  height: 60px;
}
.control-panel .cp-wrapper .controls {
  font-size: 0;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid white;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.control-panel .cp-wrapper .controls li {
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid white;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  background: linear-gradient(top, #f4f4f4 0%, #f3f3f3 50%, #efefef 51%, #eeeeee 100%);
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.control-panel .cp-wrapper .controls li:hover {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #efefef 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #efefef 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #efefef 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #efefef 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: linear-gradient(top, #eeeeee 0%, #efefef 50%, #f3f3f3 51%, #f4f4f4 100%);
}
.control-panel .cp-wrapper .controls li:active {
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #e9e9e9 50%, #e6e6e6 51%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #eaeaea 0%, #e9e9e9 50%, #e6e6e6 51%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #e9e9e9 50%, #e6e6e6 51%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #e9e9e9 50%, #e6e6e6 51%, #e5e5e5 100%);
  background: linear-gradient(top, #eaeaea 0%, #e9e9e9 50%, #e6e6e6 51%, #e5e5e5 100%);
}
.control-panel .cp-wrapper .controls li:last-child {
  box-shadow: 1px 0 0 0 white;
  -moz-box-shadow: 1px 0 0 0 white;
  -webkit-box-shadow: 1px 0 0 0 white;
}
.control-panel .cp-wrapper .controls li .wrap {
  background: url(../img/bg_control_panel.png);
}
.control-panel .cp-wrapper .controls li .wrap a {
  width: 80px;
  height: 60px;
  text-decoration: none;
  color: black;
  outline: none;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.control-panel .cp-wrapper .controls li .wrap a.cp-add-dir {
  background: url(../img/icon_add_dir.png) no-repeat;
  background-position: 16px 11px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-add-note {
  background: url(../img/icon_add_note.png) no-repeat;
  background-position: 17px 17px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-edit {
  background: url(../img/icon_edit.png) no-repeat;
  background-position: 17px 17px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-copy {
  background: url(../img/icon_copy.png) no-repeat;
  background-position: 25px 16px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-cut {
  background: url(../img/icon_cut.png) no-repeat;
  background-position: 23px 20px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-paste {
  background: url(../img/icon_paste.png) no-repeat;
  background-position: 26px 14px;
}
.control-panel .cp-wrapper .controls li .wrap a.cp-delete {
  background: url(../img/icon_trash.png) no-repeat;
  background-position: 27px 17px;
}
.control-panel .cp-wrapper .search-wrapper {
  position: absolute;
  top: 12px;
  right: 25px;
}
.editor {
  padding: 15px 10px 0 25px;
}
.editor h2 {
  font-size: 11pt;
  color: black;
  margin-bottom: 10px;
}
.editor .editor_title {
  padding-bottom: 15px;
}
.editor .editor_title input {
  width: 100%;
  border: 1px solid #b0b0b0;
  font-size: 12pt;
  padding: 8px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 #ffffff, 0 0 0;
  -moz-box-shadow: 0 1px 0 #ffffff, 0 0 0;
  box-shadow: 0 1px 0 #ffffff, 0 0 0;
}
.editor .editor_title input:focus {
  outline: none;
}
.editor .editor_footer {
  margin: 15px 0;
}
.btn {
  padding: 5px 20px 8px 20px;
  border: 1px solid #2e41a4;
  border-top-color: #3854b8;
  border-bottom-color: #263596;
  border-radius: 2px;
  font-weight: normal;
  font-size: 11pt;
  font-family: Ubuntu, Verdana, Arial, sans-serif;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 #3d59b9;
  cursor: pointer;
  line-height: 1;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #5479c7;
  background-image: -moz-linear-gradient(top, #5e87cd, #4664bd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e87cd), to(#4664bd));
  background-image: -webkit-linear-gradient(top, #5e87cd, #4664bd);
  background-image: -o-linear-gradient(top, #5e87cd, #4664bd);
  background-image: linear-gradient(to bottom, #5e87cd, #4664bd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e87cd', endColorstr='#ff4664bd', GradientType=0);
}
.btn:hover {
  background-color: #5f87cf;
  background-image: -moz-linear-gradient(top, #6995d3, #5072c8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6995d3), to(#5072c8));
  background-image: -webkit-linear-gradient(top, #6995d3, #5072c8);
  background-image: -o-linear-gradient(top, #6995d3, #5072c8);
  background-image: linear-gradient(to bottom, #6995d3, #5072c8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6995d3', endColorstr='#ff5072c8', GradientType=0);
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
  background-color: #4f71c1;
  background-image: -moz-linear-gradient(top, #5578c6, #4666ba);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5578c6), to(#4666ba));
  background-image: -webkit-linear-gradient(top, #5578c6, #4666ba);
  background-image: -o-linear-gradient(top, #5578c6, #4666ba);
  background-image: linear-gradient(to bottom, #5578c6, #4666ba);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5578c6', endColorstr='#ff4666ba', GradientType=0);
}
.btn.cancel {
  border: 1px solid #dc3d27;
  text-shadow: 0 -1px 0 #dc422b;
  background-color: #e35b3c;
  background-image: -moz-linear-gradient(top, #e66543, #df4c31);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e66543), to(#df4c31));
  background-image: -webkit-linear-gradient(top, #e66543, #df4c31);
  background-image: -o-linear-gradient(top, #e66543, #df4c31);
  background-image: linear-gradient(to bottom, #e66543, #df4c31);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe66543', endColorstr='#ffdf4c31', GradientType=0);
}
.btn.cancel:hover {
  background-color: #e76744;
  background-image: -moz-linear-gradient(top, #e9714b, #e4583a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9714b), to(#e4583a));
  background-image: -webkit-linear-gradient(top, #e9714b, #e4583a);
  background-image: -o-linear-gradient(top, #e9714b, #e4583a);
  background-image: linear-gradient(to bottom, #e9714b, #e4583a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe9714b', endColorstr='#ffe4583a', GradientType=0);
}
.btn.cancel:active {
  background-color: #e05538;
  background-image: -moz-linear-gradient(top, #e25b3c, #dd4c31);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e25b3c), to(#dd4c31));
  background-image: -webkit-linear-gradient(top, #e25b3c, #dd4c31);
  background-image: -o-linear-gradient(top, #e25b3c, #dd4c31);
  background-image: linear-gradient(to bottom, #e25b3c, #dd4c31);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe25b3c', endColorstr='#ffdd4c31', GradientType=0);
}
.btn.green {
  border: 1px solid #2e703b;
  text-shadow: 0 -1px 0 #419256;
  background-color: #66af82;
  background-image: -moz-linear-gradient(top, #74bb93, #519d69);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#74bb93), to(#519d69));
  background-image: -webkit-linear-gradient(top, #74bb93, #519d69);
  background-image: -o-linear-gradient(top, #74bb93, #519d69);
  background-image: linear-gradient(to bottom, #74bb93, #519d69);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74bb93', endColorstr='#ff519d69', GradientType=0);
}
.btn.green:hover {
  background-color: #78c197;
  background-image: -moz-linear-gradient(top, #81c3a0, #6abd8a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81c3a0), to(#6abd8a));
  background-image: -webkit-linear-gradient(top, #81c3a0, #6abd8a);
  background-image: -o-linear-gradient(top, #81c3a0, #6abd8a);
  background-image: linear-gradient(to bottom, #81c3a0, #6abd8a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff81c3a0', endColorstr='#ff6abd8a', GradientType=0);
}
.btn.green:active {
  background-color: #61ab7d;
  background-image: -moz-linear-gradient(top, #68b185, #57a270);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68b185), to(#57a270));
  background-image: -webkit-linear-gradient(top, #68b185, #57a270);
  background-image: -o-linear-gradient(top, #68b185, #57a270);
  background-image: linear-gradient(to bottom, #68b185, #57a270);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b185', endColorstr='#ff57a270', GradientType=0);
}
.btn.gray {
  border: 1px solid #6c7277;
  text-shadow: 0 -1px 0 #7e8287;
  background-color: #898c91;
  background-image: -moz-linear-gradient(top, #979b9f, #74767b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#979b9f), to(#74767b));
  background-image: -webkit-linear-gradient(top, #979b9f, #74767b);
  background-image: -o-linear-gradient(top, #979b9f, #74767b);
  background-image: linear-gradient(to bottom, #979b9f, #74767b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff979b9f', endColorstr='#ff74767b', GradientType=0);
}
.btn.gray:hover {
  background-color: #979a9e;
  background-image: -moz-linear-gradient(top, #a1a5a8, #878a90);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a1a5a8), to(#878a90));
  background-image: -webkit-linear-gradient(top, #a1a5a8, #878a90);
  background-image: -o-linear-gradient(top, #a1a5a8, #878a90);
  background-image: linear-gradient(to bottom, #a1a5a8, #878a90);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1a5a8', endColorstr='#ff878a90', GradientType=0);
}
.btn.gray:active {
  background-color: #808286;
  background-image: -moz-linear-gradient(top, #8a8d90, #707276);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8d90), to(#707276));
  background-image: -webkit-linear-gradient(top, #8a8d90, #707276);
  background-image: -o-linear-gradient(top, #8a8d90, #707276);
  background-image: linear-gradient(to bottom, #8a8d90, #707276);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a8d90', endColorstr='#ff707276', GradientType=0);
}
.note .note-title {
  margin-top: 7px;
  position: relative;
  background-image: url(../img/dir_fon_left.png);
  background-repeat: no-repeat;
  padding-left: 61px;
  padding-right: 61px;
  max-width: 100%;
  background-position: 23px 0;
  box-sizing: border-box;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.note .note-title p {
  height: 30px;
  font-size: 16pt;
  color: #2c3f08;
  text-shadow: 1px 1px #ddf4be;
  padding-top: 6px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  background-image: url(../img/dir_fon_center.png);
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.note .note-title div {
  position: absolute;
  top: 0;
  right: 0;
  width: 61px;
  height: 36px;
  background-image: url(../img/dir_fon_right.png);
  background-repeat: no-repeat;
}
.note .note-content {
  margin: -29px 10px 10px 10px;
  padding: 60px 10px 10px 35px;
  background-color: white;
  min-height: 750px;
  font-size: 12pt;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15), 0 0 0;
  -moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15), 0 0 0;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15), 0 0 0;
}
.note .note-content strong {
  font-weight: bold;
}
.note .note-content em {
  font-style: italic;
}
.note .note-content p {
  margin-bottom: 10px;
  line-height: 150%;
  word-break: break-all;
}
.note .note-content a {
  color: #0e90d2;
}
.note .note-content a:hover {
  text-decoration: none;
}
.note .note-content pre code {
  font-family: monospace, Verdana, Arial, sans-serif;
}
.note .note-content pre code span {
  line-height: 1.5;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}
.popup .btn {
  width: 150px;
}
.popup .btn.cancel {
  margin-right: 10px;
}
.popup .popup-wrap {
  width: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.popup .popup-wrap .popup-header {
  padding: 20px;
  border-bottom: 1px solid white;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: linear-gradient(to bottom, #f9f9f9, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeaeaea', GradientType=0);
}
.popup .popup-wrap .popup-content {
  background-color: #fcfcfc;
  padding: 25px;
  border-top: 1px solid #bababa;
  -webkit-box-shadow: inset 0 1px 2px #efefef, 0 0 0;
  -moz-box-shadow: inset 0 1px 2px #efefef, 0 0 0;
  box-shadow: inset 0 1px 2px #efefef, 0 0 0;
}
.popup .popup-wrap .popup-content p {
  line-height: 1.5;
  font-size: 11pt;
  color: #535353;
}
.popup .popup-wrap .popup-buttons {
  background-color: #fcfcfc;
  padding: 0 25px 25px 25px;
}
.promo {
  background: url(../img/promo_bg1.jpg) repeat;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
}
.promo .wrapper {
  width: 1024px;
  background: url(../img/promo_bg2.png) repeat;
  border: 1px solid #dbe3e5;
  border-top: 0;
  border-bottom: 0;
  min-height: 100%;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

}
.promo .wrapper .login-block .login-wrapper {
  width: 900px;
  border-bottom: 1px solid #d1dce3;
  padding: 18px 0;
  text-align: right;
  position: relative;
  display: -moz-inline-stack;
  /* FF2- */

  display: inline-block;
  *display: inline;
  /* IE6-7 inline-block hack */

  *zoom: 1;
  /* IE6-7 hasLayout */

  -webkit-box-shadow: 0 2px 0 #ffffff, 0 0 0;
  -moz-box-shadow: 0 2px 0 #ffffff, 0 0 0;
  box-shadow: 0 2px 0 #ffffff, 0 0 0;
}
.promo .wrapper .login-block .login-wrapper .err-msg {
  line-height: 2.2;
  color: red;
  margin-right: 15px;
  font-size: 9pt;
  position: absolute;
  top: 48px;
  left: 406px;
}
.promo .wrapper .login-block .login-wrapper .txt {
  width: 200px;
  vertical-align: top;
  margin: 0;
  height: 35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 11pt;
}
.promo .wrapper .login-block .login-wrapper .btn {
  vertical-align: top;
  margin: 0;
  height: 35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.promo .wrapper .content .promo1 {
  padding-top: 60px;
  font-size: 35pt;
  color: #65ad81;
}
.promo .wrapper .content .promo2 {
  padding-top: 15px;
  font-size: 21pt;
  color: black;
}
.promo .wrapper .content .register {
  padding-top: 40px;
}
.promo .wrapper .content .register .btn.big {
  font-size: 18pt;
  font-weight: normal;
  padding: 19px 55px 20px 55px;
}
.promo .wrapper .content .promo-img {
  width: 943px;
  height: 556px;
  margin-top: 50px;
}
.promo .wrapper .bottom {
  background-color: #557bc7;
  padding-bottom: 90px;
  padding-top: 135px;
  margin-top: -114px;
}
.promo .wrapper .bottom .promo3 {
  font-size: 14pt;
  color: white;
}
