{% extends '::base.html.twig' %}

{% block body %}
    {% include 'AcmeMainBundle:Default:header.html.twig' %}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <div class="container">
        <form method="post" action="{{ path('registration') }}" class="login">
			<p>
				<label for="login">Логин:</label>
				<input type="text" name="username" id="login" placeholder="Логин">
			</p>
			<p>
				<label for="password">Пароль:</label>
				<input type="password" name="password" id="password" placeholder="Пароль">
			</p>
			<p>
				<label for="email">E-mail:</label>
				<input type="text" name="email" id="email" placeholder="E-mail">
			</p>
			<p class="login-submit">
				<button type="submit" class="login-button">Отправить</button>
			</p>
		</form>
    </div>
{% endblock %}