{% extends '::base.html.twig' %}

{% block body %}
	{% include 'AcmeMainBundle:Default:header.html.twig' %}

	<div id="main">
		<div class="wrapper">
			<div class="js-control-panel"></div>
			<div class="js-breadcrumbs"></div>
			<div class="left js-nav-list"></div>
			<div class="right">
				<div class="js-note"></div>
			</div>
		</div>
	</div>
	<div id="templates">
		{% include 'AcmeMainBundle:Underscore:navlist.html.twig' %}
		{% include 'AcmeMainBundle:Underscore:note.html.twig' %}
		{% include 'AcmeMainBundle:Underscore:breadcrumbs.html.twig' %}
		{% include 'AcmeMainBundle:Underscore:control_panel.html.twig' %}
		{% include 'AcmeMainBundle:Underscore:editor.html.twig' %}
		{% include 'AcmeMainBundle:Underscore:popup.html.twig' %}
	</div>
	{% include 'AcmeMainBundle:Underscore:json.html.twig' with {'json_string': json_string} %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="/js/libs/tinymce/tiny_mce.js"></script>
	<script src="/js/app_note.js"></script>
	<script src="/js/NoteRouter.js"></script>
	<script src="/js/models/NavListItem.js"></script>
	<script src="/js/models/Dir.js"></script>
	<script src="/js/models/Note.js"></script>
	<script src="/js/models/Breadcrumbs.js"></script>
	<script src="/js/models/ControlPanel.js"></script>
	<script src="/js/models/Popup.js"></script>
	<script src="/js/views/NavListView.js"></script>
	<script src="/js/views/NoteView.js"></script>
	<script src="/js/views/BreadcrumbsView.js"></script>
	<script src="/js/views/ControlPanelView.js"></script>
	<script src="/js/views/EditorView.js"></script>
	<script src="/js/views/PopupView.js"></script>
{% endblock %}